{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "proseWrap": "always",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "@/"]
}
